/* styles.css */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

li {
  cursor: pointer;
  margin-block: 2px;
}

li:hover {
  color: blueviolet;
}

li.ndc {
  cursor: inherit;
}

li.ndc:hover {
  color: #000;
}
/* styles.css (or your preferred CSS file) */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
}

.navbar-logo img {
  height: 40px; /* Adjust height as needed */
}

.navbar-links {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  padding: 5px 10px;
}

.navbar-links li a {
  text-decoration: none;
  color: #333;
}

.navbar-links li a:hover {
  color: blueviolet;
}

/* styles.css (or your preferred CSS file) */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.search-container {
  margin-left: 20px;
  /* Adjust this value to move the content to the left */
}

.search-container h1 {
  margin-bottom: 20px;
}

.search-container input {
  margin-right: 10px;
  padding: 5px;
}

.search-container button {
  padding: 5px 10px;
}

.results-table {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
}

.results-table table {
  width: 100%;
  border-collapse: collapse;
}

.results-table th,
.results-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.results-table tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}



.drug-details-container {
  margin-left: 20px;
  /* Adjust this value to move the output to the left */
}

/* Navbar.css */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blinking-text {
  animation: blink 1.5s infinite;
}